.acceptCook {
  position:fixed;
  bottom: 40px;
  right:20px;
  box-shadow:0 0 4px #000;
  background:#fff;
  display:flex;
  flex-direction:column;
  color: #000;
  align-items:center;
  padding: 20px;
  max-width: 364px;
  z-index: 99999;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
}
.acceptCook .acCoBtns {
  display:flex;

}
.acceptCook .acCoBtns {
  margin-top: 10px;
}
.acceptCook .acCoBtns a {
  font-weight:600;
  margin: 5px;
  border-radius: 4px;
  padding: 10px 20px;
  cursor:pointer;
  font-size: 14px;
  display: block;
  white-space: nowrap;
}
.acceptCook .acCoBtns a:last-child {
  color:#fff;
}